---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Home/Hero.astro";
import ThreeSteps from "../components/Home/ThreeSteps.astro";
import Services from "../components/Home/Services.astro";
import Testimonials from "../components/Home/Testimonials.astro";
import AboutMe from "../components/Home/AboutMe.astro";
import Plans from "../components/Home/Plans.astro";
---

<Layout title="Carla Planifica Tú éxito">
  <div class="m-auto bg-grey">
    <div class="max-w-[1200px] m-auto">
      <Hero />
    </div>
  </div>
  <div class="m-auto bg-middleBlue">
    <div class="max-w-[1200px] m-auto">
      <ThreeSteps />
    </div>
  </div>
  <div class="max-w-[1200px] m-auto">
    <Services />
  </div>
  <div class="m-auto bg-grey">
    <div class="max-w-[1200px] m-auto">
      <Plans />
    </div>
  </div>
  <div class="m-auto bg-middleBlue">
    <div class="max-w-[1200px] m-auto">
      <Testimonials />
    </div>
  </div>
  <div class="max-w-[1200px] m-auto">
    <AboutMe />
  </div>
</Layout>
