---
import Modal from "../utils/Modal.astro";

import { messages } from "../../utils/const.ts";
---

<div class="break-words md:px-20 p-10 overflow-hidden">
  <div class="md:flex">
    <div class="md:w-1/2">
      <h1 class="text-4xl my-8 title">
        ¡Transforma tu ansiedad financiera en confianza!
      </h1>
      <p class="text-justify">
        <span class="text-xl font-bold title">¡Hola soy Carla!</span> tu Asesora
        de Protección Financiera. ¿Te preocupa tu futuro financiero? Estoy aquí para
        ayudarte. Juntos, crearemos un plan personalizado que te garantice protección
        y tranquilidad, sin importar lo que venga.
      </p>
      <br />
      <h3 class="text-2xl mb-4 font-bold title">¿Quién soy?</h3>
      <p class="text-justify">
        Soy abogada, Asesora de Protección Financiera y cuento con 10 años de
        experiencia en el sector financiero. Aunque estoy comenzando a construir
        mi marca personal, mi compromiso es claro: asegurar tu estabilidad
        financiera en cada etapa de tu vida.
      </p>
      <br />
      <h3 class="text-2xl mb-4 font-bold title">¿Por qué elegirme?</h3>
      <p class="text-justify">
        He ayudado a muchos a pasar de la incertidumbre a la confianza. Mis
        clientes han aprendido a creer en sí mismos, a proteger su patrimonio y
        a disfrutar de la tranquilidad financiera que deseaban. Te acompañaré en
        cada paso, ajustando tu plan para alcanzar tus metas, como una
        jubilación digna y satisfactoria.
      </p>
      <br />
      <h3 class="text-2xl mb-4 font-bold title">¡Únete a mí!</h3>
      <p class="mb-8 md:mb-0 text-justify">
        No estás solo en este camino. Te invito a dar el primer paso hacia un
        futuro tranquilo, digno y libre. Agenda tu consulta hoy y empieza a
        construir el futuro que mereces.
      </p>
    </div>
    <div class="md:w-1/2 flex justify-center relative">
      <img
        src="/imgs/carla-about.avif"
        alt="An Image Of Carla Loyo"
        class="bg-grey aspect-auto rounded-lg"
      />
    </div>
  </div>
  <div class="flex justify-center w-full md:mt-16 mt-8">
    <Modal title={messages.agenda} />
  </div>
</div>

<style>
  .title {
    font-family: "Legquinne", sans-serif;
  }
</style>
