---

---

<div class="break-words p-20 overflow-hidden">
  <div class="flex">
    <div class="w-1/2">
      <h1>Who am I? Let's get acquainted</h1>
      <p>
        So, I'm Deborah, not your typical TV therapist. With a strong background
        as a psychologist, I offer an authentic and warm approach, with relaxed
        sessions that explore various topics to ensure your comfort. My mission
        is to help you uncover life's puzzle pieces, surmount obstacles, and
        create a personal growth plan. Let's embark on this journey to fulfill
        your life's vision.

        <b>Professional qualifications & educational background: </b>
        - Master of Arts in Mental Health Counseling from Hudson University - Licensed
        Mental Health Counselor in Connecticut - Extensive clinical experience in
        mental health counseling
      </p>
    </div>
    <div class="w-1/2 flex justify-center">
      <img src="/imgs/carla.webp" alt="An Image Of Carla Loyo" />
    </div>
  </div>
</div>
