---

---

<div class="break-words p-20 overflow-hidden">
  <div class="flex">
    <div class="w-1/2">
      <h1>¡Transforma tu ansiedad financiera en confianza!</h1>
      <p>
        Hola, soy Carla, tu Asesora de Protección Financiera.
¿Te preocupa tu futuro financiero? 
Estoy aquí para ayudarte. Juntos, crearemos un plan personalizado que te garantice protección y tranquilidad, sin importar lo que venga.</p>
<br>
<h3>¿Quién soy?</h3> 
<p>Soy abogada, Asesora de Protección Financiera y cuento con 10 años de experiencia en el sector financiero. Aunque estoy comenzando a construir mi marca personal, mi compromiso es claro: asegurar tu estabilidad financiera en cada etapa de tu vida.</p>
<br>
<h3>¿Por qué elegirme?</h3>
<p>He ayudado a muchos a pasar de la incertidumbre a la confianza. Mis clientes han aprendido a creer en sí mismos, a proteger su patrimonio y a disfrutar de la tranquilidad financiera que deseaban. Te acompañaré en cada paso, ajustando tu plan para alcanzar tus metas, como una jubilación digna y satisfactoria.</p>
<br>
<h3>¡Únete a mí!</h3>
<p>No estás solo en este camino. Te invito a dar el primer paso hacia un futuro tranquilo, digno y libre. Agenda tu consulta hoy y empieza a construir el futuro que mereces.</p>

    </div>
    <div class="w-1/2 flex justify-center">
      <img
        src="/imgs/carla-about.avif"
        alt="An Image Of Carla Loyo"
        class=""
      />
    </div>
  </div>
  <div class="flex justify-center w-full mt-16">
    <button class="bg-darkBlue hover:bg-middleBlue hover:text-darkBlue text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline ">Agenda una Consulta</button>
  </div>
</div>
