---
import Modal from "../utils/Modal.astro";

import { messages } from "../../utils/const.ts";
---

<div class="break-words md:px-20 p-10 overflow-hidden">
  <div class="md:flex">
    <div class="md:w-1/2 px-5">
      <h1 class="text-4xl mt-4 title">
        ¡Transforma tu ansiedad financiera en confianza!
      </h1>
      <br />
      <h2 class="text-4xl font-bold title">¡Hola soy Carla!</h2>
      <br />
      <h3 class="text-2xl mb-4 font-bold title">
        Si Te preocupa tu futuro financiero
      </h3>
      <p class="text-justify">
        Yo te puedo ayudar a crear un plan personalizado que te garantice
        protección para que pases del estrés a la tranquilidad.
      </p>
      <br />
      <p class="text-justify">
        No estás solo en este camino, las finanzas suelen ser muy confusas, por
        eso estoy aquí. Da el primer paso hacia un futuro tranquilo, digno y
        libre. Agenda tu consulta hoy y empieza a construir el futuro que
        mereces.
      </p>
      <br />
      <h3 class="text-2xl mb-4 font-bold title">¿Por qué elegirme?</h3>
      <p class="text-justify">
        He ayudado a muchas personas a pasar de la incertidumbre y la
        desorganización a la confianza. Mis clientes han aprendido a creer en sí
        mismos, a proteger su patrimonio y a disfrutar de la tranquilidad
        financiera que deseaban. Te acompañaré en cada paso, ajustando tu plan
        para alcanzar tus metas, como por ejemplo una jubilación digna y
        satisfactoria.
      </p>
      <br />
      <h3 class="text-2xl mb-4 font-bold title">¿Quién soy?</h3>
      <p class="text-justify">
        Soy abogada, Asesora de Protección Financiera y cuento con 10 años de
        experiencia en el sector financiero. Aunque estoy comenzando a construir
        mi marca personal, mi compromiso es claro: asegurar tu estabilidad
        financiera para que puedas disfrutar cada etapa de tu vida.
      </p>
      <div class="text-center">
        <h3 class="text-sm mt-8 italic">
          "Algunas personas quieren que sucedan las cosas, otras desean que
          sucedan las cosas y otras hacen que sucedan las cosas"
        </h3>
        <span class="font-bold text-xl">Michael Jordan</span>
      </div>
    </div>
    <div class="md:w-1/2 flex justify-center relative">
      <img
        src="/imgs/carla/carla-about.avif"
        alt="An Image Of Carla Loyo"
        class="bg-grey aspect-auto rounded-lg"
      />
    </div>
  </div>
  <div class="flex justify-center w-full md:mt-16 mt-8">
    <Modal title={messages.asesorar} />
  </div>
</div>

<style>
  .title {
    font-family: "Legquinne", sans-serif;
  }
</style>
