---
import Modal from "../utils/Modal.astro";

import { messages } from "../../utils/const.ts";
---

<main class="md:flex justify-between max-w-7xl">
  <div class="flex flex-col justify-center">
    <img
      src="/imgs/carla-hero2.jpg"
      alt="Foto de Carla Loyo"
      class="md:px-24"
    />
  </div>
  <div class="md:w-1/4 hero-paragraph md:p-24 p-12">
    <h1 class="text-center text-4xl title">
      ¡Bienvenido a tu futuro financiero!
    </h1>
    <br />
    <p class="text-lg text-justify">
      <span class="font-bold"
        >Disfrutar HOY y Mañana, SI es compatible.
      </span>Transforma tu presente y tu futuro con una asesoría financiera que
      entiende tus miedos y te ofrece soluciones reales.
    </p>
    <br />
    <div class="flex justify-center w-full">
      <Modal title={messages.asesorar} />
    </div>
  </div>
</main>

<style>
  .hero-paragraph {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: 100%;
    position: relative;
    justify-content: center;
    box-sizing: border-box;
  }

  .title {
    font-family: "Legquinne", sans-serif;
  }
</style>
