---

---

<main class="flex justify-between max-w-7xl p-20">
  <div class="w-1/3 flex flex-col justify-center">
    <h1 class="text-center">¡Hola! Soy Carla Loyo</h1>
  
  </div>
  <div class="w-1/3 flex flex-col justify-center">
    <img
      src="/imgs/carla-hero.avif"
      alt="Foto de Carla Loyo"
      class="max-h-96 px-24"
    />
  </div>
  <div class="w-1/3 hero-paragraph">
    <h1>¡Bienvenido a tu futuro financiero!</h1>
    <p>
      Si hay una forma de tenerlo todo. Transforma tu presente y tu futuro con
      una asesoría financiera que entieende tus miedos y te ofrece soluciones
      reales.
    </p>
    <button>Agenda una Consulta</button>
  </div>
</main>

<style>
  .hero-paragraph {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: 100%;
    max-width: 370px;
    position: relative;
    margin-left: 30px;
    margin-bottom: 95px;
    box-sizing: border-box;
  }
</style>
