---
  import Modal from "../utils/Modal.astro";

  import {messages} from  "../../utils/const.ts"
---

<main class="md:flex justify-between max-w-7xl p-20">
  <div class="md:w-1/4 flex flex-col justify-center">
    <h1 class="text-center text-5xl">¡Hola! Soy Carla Loyo</h1>
  
  </div>
  <div class="md:w-1/2 flex flex-col justify-center">
    <img
      src="/imgs/carla-hero.avif"
      alt="Foto de Carla Loyo"
      class="md:px-24"
    />
  </div>
  <div class="md:w-1/4 hero-paragraph">
    <h1 class="text-center text-4xl">¡Bienvenido a tu futuro financiero!</h1>
  </br>
    <p class="text-lg">
      Si hay una forma de tenerlo todo. Transforma tu presente y tu futuro con
      una asesoría financiera que entiende tus miedos y te ofrece soluciones
      reales.
    </p>
  </br>
  <div class="flex justify-center w-full">
    <Modal title={messages.agenda} />
  </div>
  </div>
</main>

<style>
  .hero-paragraph {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: 100%;
    max-width: 370px;
    position: relative;
    margin-left: 30px;
    margin-bottom: 95px;
    box-sizing: border-box;
  }
</style>
