---

---

<div class="wrapper row3">
  <section id="services" class="hoc container clear">
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <p class="nospace font-xs">Mollis eu commodo eu dui quisque</p>
      <h6 class="heading">Ut ipsum vivamus tincidunt</h6>
    </div>
    <ul class="nospace group grid-3">
      <li class="one_third">
        <article>
          <a href="#"><i class="fas fa-chess-king"></i></a>
          <h6 class="heading">Tincidunt enim etiam</h6>
          <p>
            Tellus lacus tempor in pharetra id imperdiet sit amet enim
            suspendisse potenti fusce ornare imperdiet sit amet enim
            suspendisse.
          </p>
          <footer><a href="#">Read More</a></footer>
        </article>
      </li>
      <li class="one_third">
        <article>
          <a href="#"><i class="fas fa-archive"></i></a>
          <h6 class="heading">Tincidunt enim etiam</h6>
          <p>
            Tellus lacus tempor in pharetra id imperdiet sit amet enim
            suspendisse potenti fusce ornare imperdiet sit amet enim
            suspendisse.
          </p>
          <footer><a href="#">Read More</a></footer>
        </article>
      </li>
      <li class="one_third">
        <article>
          <a href="#"><i class="fas fa-backspace"></i></a>
          <h6 class="heading">Tincidunt enim etiam</h6>
          <p>
            Tellus lacus tempor in pharetra id imperdiet sit amet enim
            suspendisse potenti fusce ornare imperdiet sit amet enim
            suspendisse.
          </p>
          <footer><a href="#">Read More</a></footer>
        </article>
      </li>
      <li class="one_third">
        <article>
          <a href="#"><i class="fas fa-bezier-curve"></i></a>
          <h6 class="heading">Tincidunt enim etiam</h6>
          <p>
            Tellus lacus tempor in pharetra id imperdiet sit amet enim
            suspendisse potenti fusce ornare imperdiet sit amet enim
            suspendisse.
          </p>
          <footer><a href="#">Read More</a></footer>
        </article>
      </li>
      <li class="one_third">
        <article>
          <a href="#"><i class="fas fa-box-open"></i></a>
          <h6 class="heading">Tincidunt enim etiam</h6>
          <p>
            Tellus lacus tempor in pharetra id imperdiet sit amet enim
            suspendisse potenti fusce ornare imperdiet sit amet enim
            suspendisse.
          </p>
          <footer><a href="#">Read More</a></footer>
        </article>
      </li>
      <li class="one_third">
        <article>
          <a href="#"><i class="fas fa-luggage-cart"></i></a>
          <h6 class="heading">Tincidunt enim etiam</h6>
          <p>
            Tellus lacus tempor in pharetra id imperdiet sit amet enim
            suspendisse potenti fusce ornare imperdiet sit amet enim
            suspendisse.
          </p>
          <footer><a href="#">Read More</a></footer>
        </article>
      </li>
    </ul>
    <!-- ################################################################################################ -->
  </section>
</div>

<style>
  .wrapper {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
    word-wrap: break-word;
  }

  .row3 {
    color: #474747;
    background-color: #ffffff;
  }

  #services {
    text-align: center;
  }
  #services article {
    padding: 20px;
    border: 1px solid;
  }
  #services i {
    margin-bottom: 30px;
    font-size: 3rem;
  }
  #services article {
    border-color: rgba(0, 0, 0, 0.05);
  }
  #services article:hover {
    color: inherit;
    background-color: rgba(0, 0, 0, 0.02);
  }

  .hoc {
    display: block;
    margin: 0 auto;
  }

  .container {
    padding: 80px 0;
  }

  .container .sidebar nav a {
    color: inherit;
    border-color: #d7d7d7;
  }
  .container .sidebar nav a:hover {
    color: #8ec837;
  }

  .sectiontitle {
    display: block;
    max-width: 55%;
    margin: 0 auto 80px;
    text-align: center;
  }
  .sectiontitle * {
    margin: 0;
  }
  .sectiontitle {
    max-width: none;
  }

  .nospace {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .heading {
    margin: 0 0 20px 0;
    font-size: 1.4rem;
    line-height: normal;
    font-weight: normal;
    text-transform: capitalize;
  }
  .heading.nospace {
    margin-bottom: 0;
  }

  .font-xs {
    font-size: 0.8rem;
  }
  .font-x1 {
    font-size: 1.2rem;
  }
  .font-x2 {
    font-size: 1.8rem;
    line-height: normal;
  }
  .font-x3 {
    font-size: 2.8rem;
    line-height: normal;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .heading {
    margin: 0 0 20px 0;
    font-size: 1.4rem;
    line-height: normal;
    font-weight: normal;
    text-transform: capitalize;
  }
  .heading.nospace {
    margin-bottom: 0;
  }

  .one_half,
  .one_third,
  .two_third,
  .one_quarter,
  .two_quarter,
  .three_quarter {
    display: inline-block;
    float: left;
    margin: 0 0 0 4.21052%;
    list-style: none;
  }

  .one_third {
    width: 30.52631%;
  }

  @media screen and (min-width: 1140px) {
    .hoc {
      max-width: 1140px;
    }
  }

  @media screen and (min-width: 978px) and (max-width: 1140px) {
    .hoc {
      max-width: 95%;
    }
  }

  @media screen and (max-width: 978px) {
    .hoc {
      max-width: 90%;
    }
  }

  @media screen and (max-width: 750px) {
    .one_half,
    .one_third,
    .two_third,
    .one_quarter,
    .two_quarter,
    .three_quarter {
      display: block;
      float: none;
      width: auto;
      margin: 0 0 30px 0;
    }
  }
</style>
