---

---

<div class="wrapper row3">
  <section id="services" class="hoc container clear md:px-20 p-10">
    <div class="sectiontitle">
      <h1 class="heading mb-12 text-4xl">¿A quién ayudo con estos planes?</h1>
    </div>
    <ul class="md:grid grid-cols-3 gap-4">
      <li class="one_third">
        <article>
          <img src="/imgs/img1.avif" alt="" />
          <h6 class="heading font-bold py-4 h-[80px]">Plan Tranquilidad</h6>
          <p class="text-justify h-[192px]">
            Ayudo a las personas a maximizar sus ahorros y asegurar su futuro
            financiero mientras siguen haciendo lo que les apasiona.
          </p>
          <footer class="my-8">
            <a
              class="bg-darkBlue hover:bg-middleBlue hover:text-darkBlue text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
              href="#">Ver Más</a
            >
          </footer>
        </article>
      </li>
      <li class="one_third">
        <article>
          <img src="/imgs/img2.avif" alt="" />
          <h6 class="heading font-bold py-4 h-[80px]">Plan Futuro</h6>
          <p class="text-justify h-[192px]">
            Ayudo a las personas preocupadas por su futuro, a garantizar un
            ingreso fijo durante su jubilación sin dejar de lado el disfrute de
            su vida presente, mediante una estrategia financiera personalizada.
          </p>

          <footer class="my-8">
            <a
              class="bg-darkBlue hover:bg-middleBlue hover:text-darkBlue text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
              href="#">Ver Más</a
            >
          </footer>
        </article>
      </li>
      <li class="one_third">
        <article>
          <img src="/imgs/img3.avif" alt="" />
          <h6 class="heading font-bold py-4 h-[80px]">Plan de Estudios</h6>
          <p class="text-justify h-[192px]">
            Ayudo a familias a construir el fondo garantizado que los ayudará a
            cumplir su promesa a sus hijos de que si lo sueñan lo pueden lograr.
          </p>

          <footer class="my-8">
            <a
              class="bg-darkBlue hover:bg-middleBlue hover:text-darkBlue text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
              href="#">Ver Más</a
            >
          </footer>
        </article>
      </li>
      <li class="one_third">
        <article>
          <img src="/imgs/img4.avif" alt="" />
          <h6 class="heading font-bold py-4 h-[80px]">Plan Emprendedores</h6>
          <p class="text-justify h-[192px]">
            Ayudo a personas que desean independizarse, a crear un fondo que les
            permita cumplir sus metas de emprender su propio negocio, sin
            expectativas y compromisos poco realistas.
          </p>

          <footer class="my-8">
            <a
              class="bg-darkBlue hover:bg-middleBlue hover:text-darkBlue text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
              href="#">Ver Más</a
            >
          </footer>
        </article>
      </li>
      <li class="one_third">
        <article>
          <img src="/imgs/img5.avif" alt="" />
          <h6 class="heading font-bold py-4 h-[80px]">
            Plan Protección Enfermedades Críticas
          </h6>
          <p class="text-justify h-[192px]">
            Ayudo a las personas a garantizar un ingreso extra que les permita
            solventar los desafíos cotidianos que NO cubren los seguros médicos,
            a la hora de enfrentar una enfermedad crítica, para que puedan
            enfocarse en su salud
          </p>
          <footer class="my-8">
            <a
              class="bg-darkBlue hover:bg-middleBlue hover:text-darkBlue text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
              href="#">Ver Más</a
            >
          </footer>
        </article>
      </li>
      <li class="one_third">
        <article>
          <img src="/imgs/img6.avif" alt="" />
          <h6 class="heading font-bold py-4 h-[80px]">
            Plan Retención de Personal
          </h6>
          <p class="text-justify h-[192px]">
            Ayudo a directivos de empresas, que desean brindarle a su capital
            humano, la tranquilidad y el bienestar que merecen al ser parte de
            su equipo, sin tener que ocuparse directamente del proceso.
          </p>

          <footer class="my-8">
            <a
              class="bg-darkBlue hover:bg-middleBlue hover:text-darkBlue text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
              href="#">Ver Más</a
            >
          </footer>
        </article>
      </li>
    </ul>
    <!-- ################################################################################################ -->
  </section>
</div>

<style>
  .wrapper {
    /* display: block; */
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
    word-wrap: break-word;
  }

  .clear,
  .clear::after,
  .group,
  .group::after {
    clear: both;
  }

  .row3 {
    color: #474747;
    background-color: #ffffff;
  }

  #services {
    text-align: center;
  }
  #services article {
    padding: 20px;
    border: 1px solid;
  }
  #services i {
    margin-bottom: 30px;
    font-size: 3rem;
  }
  #services article {
    border-color: rgba(0, 0, 0, 0.05);
  }
  #services article:hover {
    color: inherit;
    background-color: rgba(0, 0, 0, 0.02);
  }

  .hoc {
    /* display: block; */
    margin: 0 auto;
  }

  /* .container {
        padding: 80px 0; 
  } */

  .container .sidebar nav a {
    color: inherit;
    border-color: #d7d7d7;
  }

  img {
    height: 7rem;
    width: 7rem;
    display: inline;
  }
</style>
