---

---

<div class="wrapper row3">
  <section id="services" class="hoc container clear">
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <h1 class="heading">¿A quién ayudo con estos planes?</h1>
    </div>
    <ul class="grid grid-cols-3 gap-4">
      <li class="one_third">
        <article>
          <a href="#"><i class="fas fa-chess-king"></i></a>
          <h6 class="heading">Plan Tranquilidad</h6>
          <p>
            Ayudo a las personas a maximizar sus ahorros y asegurar su futuro financiero mientras siguen haciendo lo que les apasiona.
          </p>
          <footer><a href="#">Read More</a></footer>
        </article>
      </li>
      <li class="one_third">
        <article>
          <a href="#"><i class="fas fa-archive"></i></a>
          <h6 class="heading">Plan Futuro</h6>
          <p>
            Ayudo a las personas preocupados por su futuro, a garantizar un ingreso fijo durante su jubilación sin dejar de lado el disfrute de su vida presente, mediante una estrategia financiera personalizada.
          </p>
          
          <footer><a href="#">Read More</a></footer>
        </article>
      </li>
      <li class="one_third">
        <article>
          <a href="#"><i class="fas fa-backspace"></i></a>
          <h6 class="heading">Plan de Estudios</h6>
          <p>
            Ayudo a familias a construir el fondo garantizado que los ayudará a cumplir su promesa a sus hijos de que si lo sueñan lo pueden lograr.
          </p>
          
          <footer><a href="#">Read More</a></footer>
        </article>
      </li>
      <li class="one_third">
        <article>
          <a href="#"><i class="fas fa-bezier-curve"></i></a>
          <h6 class="heading"> Plan Emprendedores</h6>
          <p>
            Ayudo a personas que desean independizarse, a crear un fondo que les permita cumplir sus metas de emprender su propio negocio, sin expectativas y compromisos poco realistas.
          </p>
          
          <footer><a href="#">Read More</a></footer>
        </article>
      </li>
      <li class="one_third">
        <article>
          <a href="#"><i class="fas fa-box-open"></i></a>
          <h6 class="heading"> Plan Protección Enfermedades Críticas</h6>
          <p>
            Ayudo a las personas a garantizar un ingreso extra que les permita solventar los desafíos cotidianos que NO cubren los seguros médicos, a la hora de enfrentar una enfermedad crítica, para que puedan enfocarse en su salud.
          </p>
          <footer><a href="#">Read More</a></footer>
        </article>
      </li>
      <li class="one_third">
        <article>
          <a href="#"><i class="fas fa-luggage-cart"></i></a>
          <h6 class="heading"> Plan Retención de Persona</h6>
          <p>
            Ayudo a las personas a garantizar un ingreso extra que les permita solventar los desafíos cotidianos que NO cubren los seguros médicos, a la hora de enfrentar una enfermedad crítica, para que puedan enfocarse en su salud.
          </p>
          
          <footer><a href="#">Read More</a></footer>
        </article>
      </li>
    </ul>
    <!-- ################################################################################################ -->
  </section>
</div>

<style>
  .wrapper {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
    word-wrap: break-word;
  }

  .clear,
  .clear::after,
  .group,
  .group::after {
    clear: both;
  }

  .row3 {
    color: #474747;
    background-color: #ffffff;
  }

  #services {
    text-align: center;
  }
  #services article {
    padding: 20px;
    border: 1px solid;
  }
  #services i {
    margin-bottom: 30px;
    font-size: 3rem;
  }
  #services article {
    border-color: rgba(0, 0, 0, 0.05);
  }
  #services article:hover {
    color: inherit;
    background-color: rgba(0, 0, 0, 0.02);
  }

  .hoc {
    display: block;
    margin: 0 auto;
  }

  .container {
    padding: 80px 0;
  }

  .container .sidebar nav a {
    color: inherit;
    border-color: #d7d7d7;
  }
</style>
