---

---

<section class="max-w-7xl p-20">
  <h1 class="w-/3">Servicios</h1>
  <ul>
    <li>
      Orientación Profesional Recibe asesoría personalizada para organizar y
      gestionar tus finanzas de manera efectiva.
    </li>
    <li>
      Soluciones Personalizadas Adaptamos nuestras estrategias a tus necesidades
      específicas.
    </li>
    <li>
      Respaldo Financiero Protege a tu familia con un respaldo financiero
      sólido.
    </li>
    <li>
      Planificación Estratégica Te ayudo a organizar tus metas y comprometerte
      con ellas.
    </li>
  </ul>
  <p>
    Usa el Super Poder de la Planificación para garantizar que puedes alcanzar
    lo que te propones:
  </p>
  <i
    >"La Planificación a largo plazo no es pensar en decisiones futuras, sino en
    el futuro de las decisiones presentes" Peter Drucker</i
  >
  <a href="">Agenda tú Consulta</a>
</section>

<style>
  .hero-paragraph {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: 100%;
    max-width: 370px;
    position: relative;
    margin-left: 30px;
    margin-bottom: 95px;
    box-sizing: border-box;
  }
</style>
