---
import Modal from "../utils/Modal.astro";

import { messages } from "../../utils/const.ts";
---

<section class="max-w-7xl md:px-20 p-10">
  <h1 class="text-4xl">Servicios</h1>
  <ol>
    <li>
      <strong>Orientación Profesional:</strong> Recibe asesoría personalizada para
      organizar y gestionar tus finanzas de manera efectiva.
    </li>
    <li>
      <strong>Soluciones Personalizadas:</strong>Adaptamos nuestras estrategias
      a tus necesidades específicas.
    </li>
    <li>
      <strong>Respaldo Financiero:</strong>Protege a tu familia con un respaldo
      financiero sólido.
    </li>
    <li>
      <strong>Planificación Estratégica:</strong>Te ayudo a organizar tus metas
      y comprometerte con ellas.
    </li>
  </ol>
  <p class="my-8">
    Usa el Super Poder de la Planificación para garantizar que puedes alcanzar
    lo que te propones:
  </p>
  <i
    ><strong
      >"La Planificación a largo plazo no es pensar en decisiones futuras, sino
      en el futuro de las decisiones presentes"</strong
    > Peter Drucker</i
  >
  <div class="my-4 flex justify-center">
    <Modal title={messages.agenda} />
  </div>
</section>

<style>
  .hero-paragraph {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: 100%;
    max-width: 370px;
    position: relative;
    margin-left: 30px;
    margin-bottom: 95px;
    box-sizing: border-box;
  }
  ol {
    padding-left: 2rem;
    list-style-type: decimal;
    margin-block: 2rem;
  }
</style>
