---

---

<section class="max-w-7xl p-20">
  <h1 class="w-/3">Servicios</h1>
  <ol>
    <li>
      Orientación Profesional Recibe asesoría personalizada para organizar y
      gestionar tus finanzas de manera efectiva.
    </li>
    <li>
      Soluciones Personalizadas Adaptamos nuestras estrategias a tus necesidades
      específicas.
    </li>
    <li>
      Respaldo Financiero Protege a tu familia con un respaldo financiero
      sólido.
    </li>
    <li>
      Planificación Estratégica Te ayudo a organizar tus metas y comprometerte
      con ellas.
    </li>
  </ol>
  <p class="my-8">
    Usa el Super Poder de la Planificación para garantizar que puedes alcanzar
    lo que te propones:
  </p>
  <i
    >"La Planificación a largo plazo no es pensar en decisiones futuras, sino en
    el futuro de las decisiones presentes" Peter Drucker</i
  >
  <div class="bg-darkBlue hover:bg-middleBlue hover:text-darkBlue text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline my-8 ">
    <a href="">Agenda tú Consulta</a>
  </div>
</section>

<style>
  .hero-paragraph {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: 100%;
    max-width: 370px;
    position: relative;
    margin-left: 30px;
    margin-bottom: 95px;
    box-sizing: border-box;
  }
  ol {
  padding-left: 2rem;
  list-style-type: decimal;
  margin-block: 2rem;
}
</style>
