---
import Modal from "../utils/Modal.astro";

import { messages } from "../../utils/const.ts";
import Modal2 from "../utils/Modal2.astro";
---

<section
  class="max-w-7xl md:px-20 p-10 mt-8 md:mt-0 text-justify bg-middleBlue"
>
  <h1 class="text-4xl title font-bold">
    ¿Cómo te ayudo a Tomar el Control de tus Finanzas?
  </h1>
  <p class="my-8 text-2xl title">Empieza con estos 3 Pasos Clave</p>
  <div class="lg:flex justify-between gap-8">
    <article class="lg:w-1/3 mb-8 lg:mb-0">
      <div>
        <div>
          <div>
            <figure class="flex justify-center lg:block">
              <img src="/imgs/paso3.avif" alt="" class="h-[215px]" />
            </figure>
          </div>
          <div>
            <div></div>
          </div>
        </div>
      </div>
      <div>
        <div class="lg:h-[580px] h-auto">
          <h2 class="my-8 text-xl">
            <strong>Paso 1:</strong> Agenda tu Consulta Gratuita
          </h2>
          <h3 class="mb-8 text-lg font-bold">
            ¡Tu éxito financiero comienza aquí!
          </h3>
          <p>
            La planificación efectiva es tu superpoder. Estoy aquí para guiarte
            en cada paso, y que puedas obtener la claridad que necesitas para
            definir tus metas y entender cómo simplificar tu presupuesto
          </p>
          <br />
          <p class="font-bold">
            Agenda tu cita gratuita y recibe asesoramiento especializado.
          </p>
          <p>
            Juntos, implementaremos un plan que te brindará la tranquilidad de
            proteger lo que tienes y alcanzar tus metas. ¡No esperes más! Da el
            primer paso hacia un futuro financiero seguro.
          </p>
          <!-- <ul>
            <li>Organizar tu presupuesto</li>
            <li>Visualizar cómo estás usando tu dinero</li>
            <li>Redirigir tus recursos hacia lo que realmente importa</li>
            <li>Cómo ahorrar</li>
            <li>Pagar tus deudas</li>
          </ul> -->
        </div>
        <div class="flex justify-center w-full p-5 lg:p-0">
          <Modal2 title={messages.asesorar} />
        </div>
      </div>
    </article>
    <article class="lg:w-1/3 mb-8 lg:mb-0">
      <div>
        <div>
          <div>
            <figure class="flex justify-center lg:block">
              <img src="/imgs/paso1.avif" class="h-[215px]" alt="" />
            </figure>
          </div>
          <div>
            <div></div>
          </div>
        </div>
      </div>
      <div>
        <div class="lg:h-[580px] h-auto">
          <h2 class="my-8 text-xl">
            <strong>Paso 2:</strong> Define tus Metas
          </h2>
          <h3 class="mb-8 text-lg font-bold">
            ¿Qué necesitas para disfrutar de la vida?
          </h3>
          <p>
            Estar tranquilo, y sin metas claras, es fácil sentirse perdido. Si
            estás listo para definirlas
          </p>
          <br />
          <p class="font-bold">Descarga esta guía gratuita y aprende a:</p>
          <ul>
            <li>Organizar tu presupuesto</li>
            <li>Visualizar cómo estás usando tu dinero</li>
            <li>Redirigir tus recursos hacia lo que realmente importa</li>
            <li>Cómo ahorrar</li>
            <li>Pagar tus deudas</li>
          </ul>
        </div>
        <div class="flex justify-center w-full p-5 lg:p-0">
          <Modal2 title={messages.guia} />
        </div>
      </div>
    </article>
    <article class="lg:w-1/3">
      <div>
        <div>
          <div>
            <figure class="flex justify-center lg:block">
              <img src="/imgs/paso2.avif" class="h-[215px]" alt="" />
            </figure>
          </div>
          <div>
            <div></div>
          </div>
        </div>
        <div>
          <div class="lg:h-[580px] h-auto">
            <h2 class="my-8 text-xl">
              <strong>Paso 3:</strong> Simplifica tu Presupuesto
            </h2>
            <h3 class="mb-8 text-lg font-bold">
              ¡Haz que tus finanzas sean fáciles!
            </h3>
            <p>
              Es clave llevar un control realista de tus ingresos y gastos para
              que puedas darle un propósito a tu dinero. Pero entiendo que esto
              no es tarea fácil. Usa herramientas que te lo hagan fácil, con las
              que te sientas cómodo. Te dejo FINAMI nuestra app de finanzas
              gratuita como una de ellas
            </p>
            <br />
            <p class="font-bold">¿Por qué elegir Finami?</p>
            <ul>
              <li>Monitorea tus gastos fácilmente</li>
              <li>Gestiona tu dinero de manera eficiente</li>
              <li>Toma el control de tu situación financiera</li>
            </ul>
            <p class="font-bold">
              Descarga Finami ahora y comienza a transformar la forma en que
              manejas tus finanzas.
            </p>
          </div>
          <div class="flex justify-center w-full p-5 lg:p-0">
            <Modal2 title={messages.descarga} />
          </div>
        </div>
      </div>
    </article>
  </div>
</section>

<style>
  .hero-paragraph {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: 100%;
    max-width: 370px;
    position: relative;
    margin-left: 30px;
    margin-bottom: 95px;
    box-sizing: border-box;
  }

  li {
    line-height: 1.5;
  }
  ul {
    padding-left: 2rem;
    list-style-type: circle;
    margin-block: 1rem;
  }

  ul li {
    /* padding-left: 2rem; */
    background-position: 0 0;
    background-size: 1.6rem 1.6rem;
    background-repeat: no-repeat;
  }

  .title {
    font-family: "Legquinne", sans-serif;
  }

  article {
    padding: 20px;
    border: 1px solid;
    border-color: #23284f;
  }

  article:hover {
    background-color: #c2c5cc;
  }
</style>
