---
import Instagram from "../utils/icons/Instagram.astro";
import Whatsapp from "../utils/icons/whatsapp.astro";
---

<footer class="bg-white dark:bg-gray-900 p-20">
  <div>
    <div class="flex">
      <div class="w-1/2 py-20">
        <h1>Transforma tus miedos y dudas en tranquilidad financiera.</h1>

        <p>
          Estoy aquí para guiarte en cada paso del camino, asegurándome de que
          tengas las herramientas y el conocimiento necesarios para enfrentar el
          futuro con confianza. No dejes que la incertidumbre te detenga; juntos
          podemos construir un plan que te brinde seguridad y paz mental.
        </p>
        <h3 class="my-8">¿Listo para dar el primer paso?</h3>

        <h6 class="my-8">
          Contáctame hoy para obtener más información o para programar una cita.
        </h6>

        <div></div>
        <div>
          <form class="bg-white shadow-md rounded px-16 pt-6 pb-8 mb-4">
            <div class="mb-4">
              <label
                class="block text-gray-700 text-sm font-bold mb-2"
                for="username"
              >
                Nombre
              </label>
              <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="username"
                type="text"
                placeholder="Tú Nombre"
              />
            </div>
            <div class="mb-4">
              <label
                class="block text-gray-700 text-sm font-bold mb-2"
                for="password"
              >
                Email
              </label>
              <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="password"
                type="email"
                placeholder="Tú Email Aquí"
              />
              <!-- <p class="text-red-500 text-xs italic">
                  Please choose a password.
                </p> -->
            </div>
            <div class="mb-6">
              <label
                class="block text-gray-700 text-sm font-bold mb-2"
                for="password"
              >
                Mensaje
              </label>
              <textarea
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline h-28"
                id="password"
                placeholder="Tú Mensaje Aquí"></textarea>
              <!-- <p class="text-red-500 text-xs italic">
                  Please choose a password.
                </p> -->
            </div>
            <div class="flex items-center justify-between">
              <button
                class="bg-darkBlue hover:bg-middleBlue hover:text-darkBlue text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-44"
                type="button"
              >
                Enviar
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="w-1/4 flex justify-center p-40">
        <img src="/imgs/carla-footer2.avif" alt="Foto de Carla Loyo" class="" />
      </div>
      <div class="w-1/4 ">
        <h3> "Algunas personas quieren que sucedan las cosas, otras desean que sucedan las cosas y otras hacen que sucedan las cosas"</h3>
        <span>Michael Jordan</span>
        <h1>Contáctame</h1>
        <ul>
          <li>+54-1155095905</li>
          <li>cloyocitizens@gmail.com</li>
          <li>@carlaplanificatuexito</li>
          <li>
            <a href="https://www.linkedin.com/in/carla-loyo-miot/">Carla Loyo Miot</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="flex
    justify-between">
      <h6>Desarrollado por frakoDev</h6>
      <div class="flex justify-evenly w-1/6">
        <Instagram />
        <Whatsapp />
      </div>
    </div>
  </div>
</footer>
