---
import Instagram from "../utils/icons/Instagram.astro";
import NewWhatsapp from "../utils/icons/NewWhatsapp.astro";
import NewMail from "../utils/icons/NewMail.astro";
import Linkedin from "../utils/icons/Linkedin.astro";
import Www from "../utils/icons/Www.astro";
---

<footer
  class="bg-middleBlue dark:bg-gray-900 md:px-20 p-10 m-auto text-darkBlue"
>
  <div>
    <div class="">
      <div class="md:flex justify-between">
        <div class="flex w-3/4 justify-center sm:p-4">
          <img
            src="/imgs/carla/carla-footer2.png"
            alt="Foto de Carla Loyo"
            class="aspect-auto w-auto"
          />
        </div>
        <div class="md:w-[45%] md:p-5 flex flex-col justify-evenly">
          <!-- <div>
            <h3 class="text-sm mt-8 italic">
              "Algunas personas quieren que sucedan las cosas, otras desean que
              sucedan las cosas y otras hacen que sucedan las cosas"
            </h3>
            <span class="font-bold text-xl">Michael Jordan</span>
          </div> -->
          <div>
            <h1 class="mt-8 text-2xl font-bold title">Contáctame</h1>
            <ul>
              <li>
                <a
                  href="https://wa.me/541155095905"
                  class="flex justify-start gap-4 my-4 hover:font-bold"
                  ><NewWhatsapp />+54-1155095905</a
                >
              </li>
              <a href="mailto:info@carlaplanificatuexito">
                <li class="flex justify-start gap-4 my-4 hover:font-bold">
                  <NewMail />info@carlaplanificatuexito.com
                </li>
              </a>
              <li>
                <a
                  href="https://www.instagram.com/carlaplanificatuexito/"
                  class="flex justify-start gap-4 my-4 hover:font-bold"
                  ><Instagram />@carlaplanificatuexito</a
                >
              </li>
              <li>
                <a
                  href="https://www.linkedin.com/in/carla-loyo-miot/"
                  class="flex justify-start gap-4 my-4 hover:font-bold"
                  ><Linkedin />Carla Loyo Miot</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="flex
    justify-between">
      <h6>Desarrollado por frakoDev</h6>
      <div class="flex justify-evenly w-1/6">
        <a href="https://frako-dev.vercel.app/" class="hover:font-bold"
          ><Www /></a
        >
        <a href="https://wa.me/584242526757" class="hover:font-bold"
          ><NewWhatsapp /></a
        >
      </div>
    </div>
  </div>
</footer>

<style>
  .title {
    font-family: "Legquinne", sans-serif;
  }
</style>
